

#nav{
    background-color: #fff;
    padding: 30px 30px; 
    margin: 0px;
  }
  .navbar-brand {
    margin: -40px 0px 0px 0px;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
   
  
  #navright a{
    margin: 0px 30px 0px 0px;
    color: cornflowerblue;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
  }

  #item1 {
    background: url(photos/48.jpg);
    background-size: cover;
    font-family: sans-serif;
    min-height: 550px;
  }
  
  #item2 {
    background: url(photos/48.jpg);
    background-size: cover;
    font-family: sans-serif;
    min-height: 550px;
  }
  
  #item3 {
    background: url(photos/48.jpg);
    background-size: cover;
    font-family: sans-serif;
    min-height: 550px;
  }
  
  #item4 {
    background: url(photos/48.jpg);
    background-size: cover;
    font-family: sans-serif;
    min-height: 550px;
  }

  .movement {
    display: block;
    text-align: center;
    padding: 120px 0px;
    width: 100%;
  }

  #about {
    display: block;
    text-align: center;
    padding: 120px 0px;
    width: 100%;

  }

  .contact {
    background-color: #1161ed;
    
  }
  
   .contact span {
     display: block;
     margin: 20px;
     font-size: 18px;
     color: lawngreen;
   }
   
.button {
  background-color: #fff!important;
  color: #1161ed!important;
  padding: 10px 20px;
  display: block;
  height: 39px;
  
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  font-size: 18px;
  

}
.button:hover {
  background: #fff;
  box-shadow: 0px 4px 35px -5px #fff;
  cursor: pointer;
}
button:focus {
  outline: none;
}
   
  .sponsors {
    padding: 50px 0px;
    display: block;
    text-align: center;
       
  }
    
  .sponsors span {
    display: inline-block;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0px 40px;
  }

  
  
  
   
  
   
  
   
  
   
  
  
  
   
    
      
    #caption{
    background: transparent;
      background-size: cover;
      font-family: sans-serif;
      margin: 0px 0px 15% 0px;
      display: block;
      text-align: center;
      justify-content: center;
      padding: 50px 10px;
      color: #fff;
      font-family: sans-serif;
      }
   

      
  
  
 .foot{  
   min-height: 30px;
   background-color: darkgreen;
   padding: 10px 15px;
  
 }

  
 .foot span{
  padding: 10px 15px; 
  margin: 10px 25px 0px 0px;
  background-color: #1161ed;
  color: #fff;
  display: inline-flex;
  float: right;

}