body{
  scroll-behavior: smooth;
}

#nav{
    background-color: #fff;
    padding: 30px 30px; 
    margin: 0px;
  }
  .navbar-brand {
    margin: -40px 0px 0px 0px;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
   
  
  #navright a{
    margin: 20px 30px 0px 0px;
    color: #228ABD;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  

  #item1 {
    background: url(photos/adet9.JPG);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    min-height: 550px;
    

  }
  
  #item2 {
    background: url(photos/adet6.JPG);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    min-height: 550px;
  }
  
  #item3 {
    background: url(photos/adet12.JPG);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    min-height: 550px;
  }
  
  #item4 {
    background: url(photos/galaryimage3.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    min-height: 550px;
  }

  .overlay {
    background-color: rgb(34, 138, 189);
    margin: 0px 0px 0px 0px;
    background-size: cover;
    font-family: sans-serif;
    min-height: 550px;
    opacity: .5;
  
  } 

  .movement {
    display: block;
    text-align: center;
    margin: 80px 0px 0px 0px;
    width: 100%;
    color: darkgreen;
    
  } 
 
  #about {
    display: block;
    text-align: justify;
    margin: 80px 0px 0px 0px;
    padding: 120px 20px;
    width: 100%;
    background-color: #228ABD;
    font-family: 'Open Sans', sans-serif;

  }
 
  
  #aboutimage{
    padding: 30px;
  }
  #abt {
    box-shadow: 0 10px 20px rgba(0.5,0,0,0.19) , 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
  }

  #contacts img {
    box-shadow: 0 10px 20px rgba(0.5,0,0,0.19) , 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
  }
   

  .gallerysection{
    margin: 80px 0px 0px 0px;
  }
  #gallery {
    display: block;
    text-align: center;
    
  }
   
  #gallery img{
    margin: 0px 30px 20px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 1, 0.19) , 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
  }

  


  #contacts {
    background-color: #228ABD;
    margin: 80px 0px 0px 0px;
    padding: 120px 20px;
  }
  #contactimage{
    padding: 30px;
  }
   
  

  
   #contacts span {
     display: block;
     margin: 20px 0px 20px 0px;
     font-size: 20px;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     line-height: 40px;
   }
  

   
  #sponsors {
    display: block;
    text-align: center;
    margin: 80px 0px 0px 0px;
         
  }
    
  #sponsors span {
    display: inline-block;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0px 40px;
  }

  
   
    #caption{
    background: transparent;
      background-size: cover;
      font-family: sans-serif;
      margin: 0px 0px 7% 0px;
      display: block;
      text-align: center;
      justify-content: center;
      padding: 40px 5px;
      color: #fff;
      font-family: sans-serif;
      }
      #caption p {
        font-size: 22px;
        font-family: sans-serif;
      }
   
 
 .foot{  
   min-height: 30px;
   background-color: #228ABD;
   padding: 0px 25px;
   margin: 80px 0px 0px 0px;
  
 }

  
 .foot span{
  padding: 10px 15px; 
  margin: 10px 25px 10px 0px;
  background-color: #fff;
  color: #228ABD;
  display: inline-flex;
  float: right;

}