hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.mandatoryfield {
  color: #da0000;
}

.previewbackground {
  width: 100%;
  display: block;
  background-image: url(../../../media/img/secured-bg.svg);
  background-size: cover;
  padding: 40px 20px !important;
  margin-bottom: 20px;
  -webkit-print-color-adjust: exact;
}

.docattach {
  font-size: 12px;
  color: #555
}

.subpreview_title {
  color: rgb(43, 57, 111);
  font-size: 18px;
}

.sp-btn-validate {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

a.mtb-scholar {
  text-decoration: none;
  color: #fff;
}

a.mtb-scholar:hover {
  text-decoration: none;
  color: #fff;
}

.myspinner {
  display: none;
}

.loader {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 50;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #067257;
  width: 180px;
  height: 180px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.prevnext {
  width: 100%;
  height: auto;
  text-align: right;
}

.scholarbar {
  background-color: #458477;
  color: #fff;
  margin-top: 50px
}

.declaration {
  font-size: 14px;
  color: #555;
  padding: 10px
}

.loaderpending {
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 50;

}

#roundspinner {
  visibility: hidden;
}



.steptoappProcess {
  display: none;
}

.deletedocbtn {
  color: #a92244;
  cursor: pointer;
}

.guarbtn {
  cursor: pointer;
}


.pterror {
  background-color: #dabc12;
  color: #fff;
  margin-top: 50px
}

#studyleaveview {
  display: none;
}

#departmentview {
  display: none;
  ;
}

.noticeprocess {
  font-size: 13px;
}

.completiontxt {
  width: 80%;
  height: auto;
  padding: 30px;
  color: #554433;
  background-color: rgb(233, 255, 210);
  margin: 0 auto;
}

.subcompletiontxt {
  width: 100%;
  height: auto;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px
}

.appdetails {
  width: 30%;
  height: auto;
  padding: 10px;
  text-align: left;
  margin-bottom:5px;
}

.btfdate {
  color: #555;
  font-style: italic;
}



.user-photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  float: right;
}