@import 'bootstrap.css';
@import 'owl.carousel.css';
@import 'owl.theme.default.css';
@import '../fonts/montserrat-alt/montserrat-alt.css';

:root {
    --primary: #009240;
    --secondary: #29256D;
    --warning: #EFCE4A;
    --danger: #D71F39;
    --white: #FFFFFF;
    --light: #F9FBFC;
    --info: #04B3E6;
    --dark: #111111;
    --gray: #F0F1F2;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    color: #111111 !important;
}

*[brand] {
    width: 150px;
    margin: 0 60px;
}

*[top-16] {
    margin-top: 16px;
}

*[top-30] {
    margin-top: 30px;
}

*[left-16] {
    margin-left: 16px;
}

*[right-16] {
    margin-right: 16px;
}

*[left-60] {
    margin-left: 60px;
}

*[right-60] {
    margin-right: 60px;
}

*[padding-left] {
    padding-left: 16px;
}

*[padding-60] {
    padding-left: 25px;
}

*[page-content] {
    width: 100%;
}

*[float-right] {
    float: right;
}

*[float-left] {
    float: left;
}

*[slide-height] {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

*[tab-height] {
    height: 12vh;
}

*[padding] {
    padding: 16px !important;
}

*[no-padding] {
    padding: none !important;
}

*[bottom-30] {
    margin-bottom: 30px;
}

*[border-right] {
    border-right: 1px solid #F0F1F2;
}

.main-content {
    width: 89%;
    min-height: 100%;
    margin: 0 auto 50px;
    display: block;
}

.navbar {
    border-bottom: 1px solid #F0F1F2;
}

.nav-link {
    color: #111111;
}

.nav-link .active {
    color: #FFFFFF !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #FFFFFF;
    background-color: #29256D;
}

.bg-collection {
    background: #009240 !important;
    border: none;
}

.bg-register {
    color: #FFFFFF;
    background: #009240 !important;
    border: none;
}

.bg-register:hover {
    color: #FFFFFF;
    background: #009240 !important;
    border: none;
}

.bg-apply {
    color: #FFFFFF;
    background: #29256D !important;
    border: none;
}

.bg-apply:hover {
    color: #FFFFFF;
    background: #29256D !important;
    border: none;
}

.bg-footer {
    background: #29256D !important;
    border: none;
}

.owl-nav {
    display: none !important;
}

.owl-dots {
    padding-top: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #009240 !important;
    width: 40px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 5px 7px;
    background: #29256D;
    display: block;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.page-title {
    font-size: 1.2em;
    font-weight: 400;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.auth-title {
    font-size: 1.3em;
    font-weight: 500;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #F0F1F2;
    padding-bottom: 5px;
}

.auth-title .right {
    float: right;
    font-size: 0.7em;
    font-weight: 200;
    margin-top: 10px;
}

.auth-title .right b {
    margin-left: 20px;
    cursor: pointer;
}

.page-content {
    width: 100%;
    padding-bottom: 40px;
}

.page-login {
    margin: 0 auto;
    width: 30vw;
}

.tab-content {
    padding: 2vh;
    border-left: 1px solid #F0F1F2;
    border-right: 1px solid #F0F1F2;
    border-bottom: 1px solid #F0F1F2;
}

.nav-tabs {
    border-bottom: 1px solid #F0F1F2;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #111111;
    background-color: #FFFFFF;
    border-color: #F0F1F2 #F0F1F2 #FFFFFF;
}

#welcome {
    width: 100%;
}

img#keynote {
    width: 100%;
    border-radius: 0.15rem;
    border-left: 1px solid #F9FBFC;
    padding-bottom: 5px;
}

div#loginform {
    width: 100%;
    height: 86.5%;
    background: #F9FBFC;
    padding: 2.3rem;
    border-radius: 0.15rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

div#loginform h4 {
    display: flexbox;
    font-size: 1.2em;
    font-weight: 500;
}

div#loginform .col-12 {
    margin-top: 10px;
    font-size: 0.9em;
}

div#loginform input {
    border-radius: 0.15rem;
    border: 1px solid #F0F1F2;
    font-size: 1.1em;
}


div#verifyForm {
    width: 100%;
    height: 86.5%;
    background: #F9FBFC;
    padding: 2.3rem;
    border-radius: 0.15rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

div#verifyForm h4 {
    display: flexbox;
    font-size: 1.2em;
    font-weight: 500;
}

div#verifyForm .col-12 {
    margin-top: 10px;
    font-size: 0.9em;
}

div#verifyForm input {
    border-radius: 0.15rem;
    border: 1px solid #F0F1F2;
    font-size: 1.1em;
}

div#form-block {
    margin-bottom: 5px;
}

#forgotten {
    color: #111111;
    padding-top: 10px;
    text-decoration: none;
}

#forgotten:hover {
    color: #2bb673;
    text-decoration: none;
}

.btn {
    padding: 0.375rem 0.85rem;
    border-radius: 0.12rem;
}

.client-caurosel {
    height: 25vh;
    margin-top: 7vh;
    background: #F9FBFC;
    border: 1px solid #F9FBFC;
}

.client-caurosel strong {
    font-weight: 500;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #F9FBFC;
}

/* Registeration form styling */
.reg-form {
    padding: 20px 16px 30px 16px;
}

.reg-tabs {
    margin: 0 auto;
    width: 90%;
    height: 10vh;
    padding: 16px;
    border: none;
    background: #F9FBFC;
}

small {
    color: #F0F1F2;
}

/* Custom modal design */
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: none;
    border-radius: 0.15rem;
    outline: 0;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.close {
    float: right;
    font-size: 1.8rem !important;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .5;
}

.sponsor {
    height: 16vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid #F0F1F2;
    border-radius: 3px;
}

.sponsor img {
    width: 100%;
}

.errormsg {
    display: block;
    text-align: center;
    background: var(--danger);
    color: #FFFFFF;
    padding: 7px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.successmsg {
    display: block;
    text-align: center;
    background: #2bb673;
    color: #FFFFFF;
    padding: 7px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.profile-block {
    padding-top: 3vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #F0F1F2;
}

.profile-block .photo img {
    width: 10vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 1vh;
}

.home-block {
    width: 10vw;
    height: 20vh;
    right: 16px;
    top: -8vh;
    position: absolute;
}

.home-block .photo img {
    width: 9vw;
    height: 18vh;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 1vh;
}

.home-block label {
    margin-top: -6vh;
}

.register-block {
    width: 10vw;
    height: 20vh;
    right: 16px;
    top: -6vh;
    position: absolute;
}

.register-block .photo img {
    width: 9vw;
    height: 18vh;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 2.5vh;
}

.register-block label {
    margin-top: -6vh;
}

.page-content {
    width: 100%;
}

.page-content .col-sm-4 {
    margin-bottom: 10px;
}

.edit {
    color: white !important;
}

#footer-links a {
    color: #F9FBFC !important;
    text-decoration: none;
}

#footer-links a:hover {
    color: var(--info) !important;
    text-decoration: none;
}

#footer {
    z-index: 9999;
    bottom: 0;
    width: 100%;
    position: fixed;
}

#footer a,
small {
    color: #F9FBFC !important;
}

#eye_id,
#eye_id_confirm {
    position: absolute;
    right: 20px;
    top: 37px;
    cursor: pointer;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="stUf5b" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" focusable="false" width="24px" height="24px"><path d="M 10.58 7.25 l 1.56 1.56 c 1.38 0.07 2.47 1.17 2.54 2.54 l 1.56 1.56 C 16.4 12.47 16.5 12 16.5 11.5 C 16.5 9.02 14.48 7 12 7 C 11.5 7 11.03 7.1 10.58 7.25 Z" /><path d="M 12 6 c 3.79 0 7.17 2.13 8.82 5.5 c -0.64 1.32 -1.56 2.44 -2.66 3.33 l 1.42 1.42 c 1.51 -1.26 2.7 -2.89 3.43 -4.74 C 21.27 7.11 17 4 12 4 c -1.4 0 -2.73 0.25 -3.98 0.7 L 9.63 6.3 C 10.4 6.12 11.19 6 12 6 Z" /><path d="M 16.43 15.93 l -1.25 -1.25 l -1.27 -1.27 l -3.82 -3.82 L 8.82 8.32 L 7.57 7.07 L 6.09 5.59 L 3.31 2.81 L 1.89 4.22 l 2.53 2.53 C 2.92 8.02 1.73 9.64 1 11.5 C 2.73 15.89 7 19 12 19 c 1.4 0 2.73 -0.25 3.98 -0.7 l 4.3 4.3 l 1.41 -1.41 l -3.78 -3.78 L 16.43 15.93 Z M 11.86 14.19 c -1.38 -0.07 -2.47 -1.17 -2.54 -2.54 L 11.86 14.19 Z M 12 17 c -3.79 0 -7.17 -2.13 -8.82 -5.5 c 0.64 -1.32 1.56 -2.44 2.66 -3.33 l 1.91 1.91 C 7.6 10.53 7.5 11 7.5 11.5 c 0 2.48 2.02 4.5 4.5 4.5 c 0.5 0 0.97 -0.1 1.42 -0.25 l 0.95 0.95 C 13.6 16.88 12.81 17 12 17 Z" /></svg>');
}

#eye_id.active,
#eye_id_confirm.active {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="stUf5b" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" focusable="false" width="24px" height="24px"><path d="M 12 7 c -2.48 0 -4.5 2.02 -4.5 4.5 S 9.52 16 12 16 s 4.5 -2.02 4.5 -4.5 S 14.48 7 12 7 Z M 12 14.2 c -1.49 0 -2.7 -1.21 -2.7 -2.7 c 0 -1.49 1.21 -2.7 2.7 -2.7 s 2.7 1.21 2.7 2.7 C 14.7 12.99 13.49 14.2 12 14.2 Z" /><path d="M 12 4 C 7 4 2.73 7.11 1 11.5 C 2.73 15.89 7 19 12 19 s 9.27 -3.11 11 -7.5 C 21.27 7.11 17 4 12 4 Z M 12 17 c -3.79 0 -7.17 -2.13 -8.82 -5.5 C 4.83 8.13 8.21 6 12 6 s 7.17 2.13 8.82 5.5 C 19.17 14.87 15.79 17 12 17 Z" /></svg>');
}

#mscholartype {
    display: none;
}

#mduration {
    display: none;
}

#mcourseawarded {
    display: none;
}

.page-t-right {
    font-size: 0.6em;
    background: #F1EC31;
    padding: 7px 20px;
    border-radius: 2px;
    text-align: right;
    margin-left: 10px;
    float: right;
}

.test-header {
    width: 50%;
}

.questions_answers {
    width: 100%;
}

.questions {
    padding: .6em;
}

.question {
    padding-left: 1em;
    font-size: large;
}

.question_number {
    /*position: relative;*/
    font-weight: normal;
    width: 10em;
    margin: 0 0 .7em 0;
    /*padding-right: -3em;*/
}

.question_pagination {
    position: absolute;
    right: 0;
    top: .5em;
}

.answers {
    padding: .5em 0 0 2em;
}

.answers input[type=radio] {
    margin-right: .4em;
}

#networkselection {
    display: none;
}

#phoneinput {
    display: none;
}

#vodvoucher {
    display: none;
}

.select2 {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #CDD4DB;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #686E71 transparent transparent transparent;
    margin-top: 4px;
}

.hide {
    display: none !important;
}

#terms {
    font-size: smaller;
}

#terms a:hover {
    text-decoration: none;
}

.question_note {
    padding-left: 2em;
    font-size: small;
    color: #ff0000;
}

/**************************************************************Begin Radio Styles**************************************/
.answer {
    position: relative;
    display: block;
}

.answer label {
    display: block;
    background: #515b6f;
    color: #fffffb;
    border-radius: 5px;
    padding: 5px 20px;
    border: 2px solid #2b396f;
    margin-bottom: 5px;
    cursor: pointer;
}

.answer label:after,
.answer label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 8px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #2b6f4f;
}

.answer label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}

input[type="radio"]:checked+label:after,
input[type="checkbox"]:checked+label:after {
    background: #2b396f;
}

input[type="radio"]:checked+label:before,
input[type="checkbox"]:checked+label:before {
    width: 20px;
    height: 20px;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    background: #2b396f;
    animation-name: blink;
    animation-duration: 1s;
    border-color: #2b396f;
}

@keyframes blink {
    0% {
        background-color: #2b396f;
    }

    10% {
        background-color: #2b396f;
    }

    11% {
        background-color: #2b396f;
    }

    29% {
        background-color: #2b396f;
    }

    30% {
        background-color: #2b396f;
    }

    50% {
        background-color: #2b396f;
    }

    45% {
        background-color: #2b396f;
    }

    50% {
        background-color: #2b396f;
    }

    100% {
        background-color: #2b396f;
    }
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

/**************************************************************End Radio Styles****************************************/
.scholarship {
    margin-bottom: 20px;
}

.pendding-apttest {
    margin-top: 10px;
}

.notification {
    border-left: 1px solid #F0F1F2;
}

.notification .alert{
    font-size: 0.9em !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
}

.tabs-block .tab {
    /* padding-top: 5.5vh; */
    min-height: 35vh;
    /* text-align: center; */
}

.tabs-block a {
    color: black;
    text-decoration: none;
}

.card-body span {
    display: block;
    font-size: 1.2em;
}

.card-body small {
    color: black !important;
}

.card-body #applynow {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
    font-variant: small-caps;
    background: rgba(0, 0, 0, 0.06);
}

*[border-left] {
    border-left: 1px solid #F0F1F2;
}

*[border-bottom] {
    border-bottom: 1px solid #ddd;
}

.profilephoto img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    margin-top: 1vh;
}

/* Text overlay for Owl Slider */
.textoverlay {
    position: absolute;
    top: 70%;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
}

.text_overlay_inner {
    color: white;
}

.text_overlay_inner p {
    color: white;
}

*[textbold] {
    font-weight: 600 !important;
}

*[signup-page] {
    margin: 0 auto;
    position: relative;
    background-image: url(../../media/img/signup.svg);
    background-size: fill;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-color: #E0F6FC;
    min-height: 100%;
    overflow-y: hidden;
    display: block;
}

.bg-gray {
    background-color: #E6E6E6 !important;
}

/* Turring */
.page-verify {
    margin: 0 auto;
    width: 50vw;
}

.turing {
    width: 100%;
    margin-top: 15px;
}

div .reload {
    position: absolute;
    display: block;
    font-size: 0.6em;
    color: white;
    padding: 2px 8px;
    background: #0079FF;
    margin-top: -5px;
    margin-left: 10px;
    z-index: 1;
    text-decoration: none;
}

div#turingimg {
    width: 100%;
    height: 30px;
    margin-bottom: 6px;
    background: #E6E6E6;
    border-radius: 3px;
    padding: 5px;
}

label span {
    font-size: 0.7em;
}

.badge {
    position: absolute;
    right: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.notification {
    position: relative;
    display: inline-block;
}

.bars{
    display: none;
}

*[hide-page] {
    display: none !important;
}
.changepassword{
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .bars{
        display: block;
    }
    #sidebar {
        display: none !important;
        margin-left: -250px;    
    }
    .changepassword{
        width: 95% !important;
        margin: 0 auto;
    }

    #sidebar.active {
        z-index: 99;
        margin-left: 0;
        position: absolute;
        display: block !important;
        background: #fff !important;
        height: calc(15% * 10);
    }

    .auth-title .right {
        float: none !important;
        font-size: 0.7em;
        font-weight: 200;
        margin-top: 10px;
        text-align: center;
        display: block;
    }
    .welcome{
        text-align: center;
    }

    .page-login {
        margin: 0 auto;
        width: 95% !important;
    }

    #content {
        width: 100% !important;
    }

    .page-t-right {
        display: none;
    }
    .notification{
        margin-top: 3rem !important;
        border-left: none !important; 
    }
    .dash-tabs{
        margin-top: 3rem;
    }
    .home-block {
        width: 20vw;
        height: 20vh;
        right: 16px;
        top: -8vh;
        position: absolute;
    }

    *[pin-margin]{
        margin: 0 6% 0 0 !important;
    }
    
    .home-block .photo img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 3px;
        margin-top: 1.3rem !important;
    }
    .edit {
        color: white !important;
        font-size: 0.8em;
    }
}

#sidebar {
    padding-top: 16px;
    min-width: 250px;
    max-width: 250px;
}

@media (max-width: 1080px) {
    .page-t-right {
        display: none;
        position: absolute;
        left: 7%;
        margin-top: 4.5rem;
    }
}
#button-addon4{z-index: -1;}

*[text-wrap]{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.alert{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.modal-text{
    height:65vh;
    overflow-y:auto;
    font-size:1em;
}

*[pin-margin]{
    margin: 0 10% 0 0;
}